<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<header class="header">
  <nav class="navbar">
    <a href=""><img src="assets/logo.png" class="logo" alt="Logo"></a>
    <span class="title">Nard POS<small><i> Project</i></small></span>
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="product/create">Create Product</a>
        </li>
      </ul>
      <div class="hamburger" (click)="toggleMobileMenu()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
  </nav>
</header>

